* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "Lucida Console", "Courier New", monospace;
}

/*Admin sidebar*/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #626567 ;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #212F3D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
#main {
  margin-left:16%;
  margin-right:3%;
  padding: 1px 16px;
  height: 100%;
}


/*Login side*/
.login {
  position: absolute;
  top: 20%;
  left: 30%;
  border-style: solid;
  border-width: medium;
}

.logo-login {
  padding-left: 8%;
  margin-bottom: 5%;
  letter-spacing: 0.9em;
}

.register {
  position: absolute;
  top: 20%;
  left:  20%;
}
/*online user*/
.btn-online {
  height: 15px;
  width: 1%;
  border-radius: 50%;
  
}