.Main {
	width: 100%;
	textarea {
		height: 100px;
		padding: 20px;
		width: 100%;
	}
}

.buttonContainer {
	text-align: center;
	button {
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.8);
		outline: none;
		padding: 10px 15px;
	}
}

.messagesContainer {
	display: flex;
	gap: 20px;
	flex-direction: column;
	padding: 15px;
	align-items: start;
}

.bySelf {
	border: 1px solid green;
	padding: 20px;
	align-self: start;
	width: 50%;
}

.fromSender {
	border: 1px solid blue;
	padding: 20px;
	align-self: end;
	width: 50%;
}
